html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}

header {
  font-size: 32px;
  background-color: $primary-color;
  color: #fff;
}

footer {
  font-size: 22px;
  background-color: $primary-color;
  color: #fff;
  padding: 10px 0;
}

button {
  background-color: $primary-color;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  max-width: 140px;
  display: block;
  margin: 10px auto;
}

input[type=text] {
  width: 300px;
  display: block;
  margin: 10px auto;
  border: 3px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

label {
  font-weight: bold;
}

.wrapper-app {
  max-width: $page-width;
  margin: 30px auto;
  display: block;
  min-height: 84vh;
}

.image-picker {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
}

.img-wrap {
  border: 3px solid #ccc;
  margin: 3px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.85;
  transition: all 0.3s ease;
}

.img-wrap.selected .add-image,
.img-wrap:hover .add-image {
  opacity: 1;
}

.img-wrap.selected {
  border-color: $primary-color;
}

.single-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px 0;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
  position: relative;
}

.list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.liked:after {
  content: "\2764";
  display: block;
  position: absolute;
  font-size: 24px;
  color: $primary-color;
  left: 7px;
  top: 2px;
}

.validation-message {
  color: red;
  font-size: 16px;
}

.checkbox-wrap {
  margin: 10px 0;
}
